body.homepage {
	background: url("../img/ocean-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-title{
	font-family: 'Satisfy', cursive;
	font-size: 5rem;
}

textarea {
     width: 100%;
     -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box;    
     box-sizing: border-box;         
}

.inline-form{
	display: inline;
}