<% include ../partials/header %>
<div class="container">
	<h1 class="text-center mt-3">
		Add a New Task to <%=list.name%>
	</h1>
	<div class="row">
		<div class="col-8 mt-3 mx-auto">
			<form action="/lists/<%=list._id%>/tasks" method="POST">
				<label for="name">Task Name</label>
				<div class="form-group">
					<input class="form-control" type="text" id="name" name="task[name]" placeholder="Wash Car" required>	
				</div>
				
				<label for="descr">Task Description</label>
				<div class="form-group">
					<textarea name="task[descr]" class="form-control" id="descr" placeholder="I need to wash this car really good, inside and out." required></textarea>
				</div>
				
				<label for="dueDate">Due Date</label>
				<div class="form-group">
					<input class="form-control" type="date" id="dueDate" name="task[dueDate]" value="<%=Date.now()%>" required>	
				</div>
				
				<label for="reminderDate">Reminder Date</label>
				<div class="form-group">
					<input class="form-control" type="date" id="reminderDate" name="task[reminderDate]" value="<%=Date.now()%>" required>	
				</div>
				
				<button class="btn btn-lg btn-primary btn-block">
					Create Task
				</button>
			</form>
		</div>
	</div>
</div>
<% include ../partials/footer %>